<launch>
  
  <node name="rviz" pkg="rviz" type="rviz" />

  <group ns="bob">

    <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" />
  
    <node name="tfpub" pkg="ros_course" type="turtle_tf_pub.py" />
  
  </group>

  <group ns="margaret">

    <include file="$(find ros_course)/launch/bounce_turtle.launch" />

    <node name="tfpub" pkg="ros_course" type="turtle_tf_pub.py" />
      
  </group>

  <node name="stare" pkg="ros_course" type="stare.py" />

</launch>
