<launch>
    <param name="turtle1/target/x" value="1.0" />
    <param name="turtle1/target/y" value="3.0" />
    <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" />
    <node name="target" pkg="ros_course" type="target.py" />
    <node name="tfpub" pkg="ros_course" type="turtle_tf_pub.py" />
    <node name="rviz" pkg="rviz" type="rviz" />
</launch>
