<launch>
    <param name="robot_description" command="cat $(find ros_course)/urdf/turtle.xml" />
    <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" />
    <node name="tfpub" pkg="ros_course" type="turtle_tf_pub.py" />
    <node name="rviz" pkg="rviz" type="rviz" />
    <node name="driver" pkg="ros_course" type="drive2.py" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
