<launch>
  
  <node name="rviz" pkg="rviz" type="rviz" />

  <group ns="bob">
    <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" />  
    <node name="tfpub" pkg="ros_course" type="turtle_tf_pub.py" />
    <node name="drive" pkg="ros_course" type="drive2.py" />
  </group>

  <group ns="margaret">
    <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" />
    <node name="tfpub" pkg="ros_course" type="turtle_tf_pub.py" />
    <node name="drive" pkg="ros_course" type="drive2.py" />
  </group>

</launch>
